//====================================================================================================
.whywe {
    margin-top: rem(60);
    margin-bottom: rem(60);
    // .whywe__container
    &__container {
    }
    // .whywe__title
    &__title {
    }
    // .whywe__content
    &__content {
        h3 {
            @include adaptiveValue("margin-top", 30, 18, 1440, 479, 1);
            @include adaptiveValue("margin-bottom", 30, 18, 1440, 479, 1);
            font-weight: 500;
            @include adaptiveValue("font-size", 20, 16, 767, 479, 1);
            text-transform: uppercase;
            text-align: center;
        }

        p {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }

        a {
            color: $purple;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
//====================================================================================================
.advantages {
    margin-bottom: rem(60);
    padding-top: rem(30);
    background: url("@img/main-bg-adv.png") 0 0 no-repeat;
    background-size: cover !important;
    // .advantages__content
    &__content {
        margin-bottom: rem(55);
    }
    // .advantages__partners
    &__partners {
        display: flex;
        align-items: center;
        min-height: rem(140);
        background: rgba(209, 209, 214, 0.5);
    }
}
.content-advantages {
    // .content-advantages__container
    &__container {
        display: flex;
        flex-direction: column;
        gap: rem(136);
        @include adaptiveValue("gap", 136, 30, 1440, 768, 1);
        width: 100%;
        box-sizing: border-box;

        @media (min-width: $pc-small) {
            flex-direction: row;
        }
    }
    // .content-advantages__left
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        @media (min-width: $pc-small) {
            justify-content: flex-start;
            flex: 0 0 50%;
        }
    }
    // .content-advantages__right
    &__right {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(202), 1fr));
        gap: rem(30) rem(45);
        position: relative;
        z-index: 2;

        @media (min-width: $mobile) {
            grid-template-columns: repeat(auto-fill, minmax(rem(240), 1fr));
        }

        @media (min-width: em(820)) {
            grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
        }

        @media (min-width: $pc-small) {
            grid-template-columns: repeat(auto-fill, minmax(rem(180), 1fr));
        }
    }
}
.left-advantages-content {
    // .left-advantages-content__logo
    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        display: none;

        @media (min-width: $tablet) {
            display: block;
            opacity: 0.5;
        }

        @media (min-width: $pc-small) {
            top: 0;
            left: 0;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .left-advantages-content__title
    &__title {
        margin-bottom: 0;
        position: relative;
        z-index: 2;
        text-align: center;

        @media (min-width: $pc-small) {
            max-width: rem(635);
            text-align: left;
        }
    }
}
.right-advantages-content {
    // .right-advantages-content__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: $mobileSmall) {
            align-items: flex-start;
            text-align: left;
        }
    }
    // .right-advantages-content__num
    &__num {
        font-size: rem(74);
        @include adaptiveValue("font-size", 74, 36, 1440, 479, 1);
    }
    // .right-advantages-content__title
    &__title {
        font-weight: 600;
        font-size: rem(20);
    }
    // .right-advantages-content__text
    &__text {
        font-size: rem(14);
    }
}
.partners-advantages {
    // .partners-advantages__container
    &__container {
        display: flex;
        gap: rem(46);
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    // .partners-advantages__title
    &__title {
        font-weight: 500;
        font-size: rem(24);
        max-width: rem(123);
        text-transform: uppercase;
    }
    // .partners-advantages__slider
    &__slider {
        width: 100%;
    }
    // .partners-advantages__wrapper
    &__wrapper {
    }
    // .partners-advantages__slide
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(60);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (min-width: $tablet) {
            width: auto !important;

            img {
                height: auto;
            }
        }
    }
}
//========================================================================================================================================================
.services {
    margin-bottom: rem(70);
    // .services__container
    &__container {
    }
    // .services__title
    &__title {
        margin-bottom: rem(30);
    }
    // .services__subtitle
    &__subtitle {
        margin-bottom: rem(30);
    }
    // .services__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(30);

        @media (min-width: $mobile) {
            display: grid;
            grid-auto-flow: row;
            gap: rem(70) rem(30);
        }

        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto; */
    }
    // .services__item
    &__item {
        position: relative;
        flex: 0 0 100%;

        @media (min-width: $mobile) {
            &:nth-child(4n + 2) {
                grid-column-start: 2;
                grid-column-end: 4;
            }
            &:nth-child(3),
            &:nth-child(7) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        &:hover {
            .item-services__image::before {
                opacity: 1;
            }
        }
    }
}
.item-services {
    // .item-services__image
    &__image {
        margin-bottom: rem(30);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15), 0px 11px 37px rgba(0, 0, 0, 0.4);

        img {
            width: 100%;
            height: 100%;
        }

        @media (min-width: $mobile) {
            height: 90%;
        }

        @media (min-width: $pc) {
            height: auto;
        }
    }
    // .item-services__footer
    &__footer {
        display: flex;
        flex-direction: column;
        gap: rem(18);
        align-items: center;
        font-weight: 500;

        @media (min-width: $pc-small) {
            flex-direction: row;
            justify-content: center;
            gap: rem(30);
        }
    }
    // .item-services__title
    &__title {
        text-transform: uppercase;
    }
    // .item-services__cost
    &__cost {
    }
}
/* .corner-box-1:hover:before,
.corner-box-1:focus:before {
    height: 50%;
}
.corner-box-1:hover:after,
.corner-box-1:focus:after {
    width: 75%;
} */
.corner-textbox-1 {
    padding: 30px;
    z-index: 2;
    position: relative;
    text-align: center;
}
